In [15]:
#Name = "Xubo Wang","Bella Yang","Fred"

In [16]:
import pandas as pd
raw = pd.read_csv('RaccoonCreekFlowData.txt', sep = '\t', skiprows = 31)
raw2 = raw.rename(columns = {'agency_cd':'agency','site_no':'site_Number','tz_cd':'Time_Zone','110246_00065':'Gage_Height','110247_00060':'Discharge','110248_00045':'Precipitation'})

#drop the columns with qualification codes and the column 
raw2 = raw2.drop(['110246_00065_cd','110247_00060_cd','110248_00045_cd'],axis=1)
print(raw2)

      agency  site_Number          datetime Time_Zone  Gage_Height  Discharge  \
0       USGS      3145483  2017-08-01 00:00       EDT          NaN       16.4
1       USGS      3145483  2017-08-01 00:15       EDT          NaN       16.4
2       USGS      3145483  2017-08-01 00:30       EDT          NaN       16.4
3       USGS      3145483  2017-08-01 00:45       EDT          NaN       16.4
4       USGS      3145483  2017-08-01 01:00       EDT          NaN       16.4
5       USGS      3145483  2017-08-01 01:15       EDT          NaN       16.4
6       USGS      3145483  2017-08-01 01:30       EDT          NaN       16.4
7       USGS      3145483  2017-08-01 01:45       EDT          NaN       16.4
8       USGS      3145483  2017-08-01 02:00       EDT          NaN       16.4
9       USGS      3145483  2017-08-01 02:15       EDT          NaN       16.4
10      USGS      3145483  2017-08-01 02:30       EDT          NaN       16.4
11      USGS      3145483  2017-08-01 02:45       EDT          NaN       16.4
12      USGS      3145483  2017-08-01 03:00       EDT          NaN       16.4
13      USGS      3145483  2017-08-01 03:15       EDT          NaN       16.4
14      USGS      3145483  2017-08-01 03:30       EDT          NaN       16.4
15      USGS      3145483  2017-08-01 03:45       EDT          NaN       16.4
16      USGS      3145483  2017-08-01 04:00       EDT          NaN       16.4
17      USGS      3145483  2017-08-01 04:15       EDT          NaN       16.4
18      USGS      3145483  2017-08-01 04:30       EDT          NaN       16.4
19      USGS      3145483  2017-08-01 04:45       EDT          NaN       16.4
20      USGS      3145483  2017-08-01 05:00       EDT          NaN       16.4
21      USGS      3145483  2017-08-01 05:15       EDT          NaN       16.4
22      USGS      3145483  2017-08-01 05:30       EDT          NaN       16.4
23      USGS      3145483  2017-08-01 05:45       EDT          NaN       16.4
24      USGS      3145483  2017-08-01 06:00       EDT          NaN       16.4
25      USGS      3145483  2017-08-01 06:15       EDT          NaN       16.4
26      USGS      3145483  2017-08-01 06:30       EDT          NaN       16.4
27      USGS      3145483  2017-08-01 06:45       EDT          NaN       16.4
28      USGS      3145483  2017-08-01 07:00       EDT          NaN       16.4
29      USGS      3145483  2017-08-01 07:15       EDT          NaN       16.4
...      ...          ...               ...       ...          ...        ...
34719   USGS      3145483  2018-08-01 16:30       EDT         3.33       19.7
34720   USGS      3145483  2018-08-01 16:45       EDT         3.33       19.7
34721   USGS      3145483  2018-08-01 17:00       EDT         3.33       19.7
34722   USGS      3145483  2018-08-01 17:15       EDT         3.33       19.7
34723   USGS      3145483  2018-08-01 17:30       EDT         3.33       19.7
34724   USGS      3145483  2018-08-01 17:45       EDT         3.33       19.7
34725   USGS      3145483  2018-08-01 18:00       EDT         3.33       19.7
34726   USGS      3145483  2018-08-01 18:15       EDT         3.32       19.0
34727   USGS      3145483  2018-08-01 18:30       EDT         3.32       19.0
34728   USGS      3145483  2018-08-01 18:45       EDT         3.32       19.0
34729   USGS      3145483  2018-08-01 19:00       EDT         3.32       19.0
34730   USGS      3145483  2018-08-01 19:15       EDT         3.32       19.0
34731   USGS      3145483  2018-08-01 19:30       EDT         3.32       19.0
34732   USGS      3145483  2018-08-01 19:45       EDT         3.32       19.0
34733   USGS      3145483  2018-08-01 20:00       EDT         3.32       19.0
34734   USGS      3145483  2018-08-01 20:15       EDT         3.32       19.0
34735   USGS      3145483  2018-08-01 20:30       EDT         3.32       19.0
34736   USGS      3145483  2018-08-01 20:45       EDT         3.32       19.0
34737   USGS      3145483  2018-08-01 21:00       EDT         3.31       18.3
34738   USGS      3145483  2018-08-01 21:15       EDT         3.31       18.3
34739   USGS      3145483  2018-08-01 21:30       EDT         3.31       18.3
34740   USGS      3145483  2018-08-01 21:45       EDT         3.31       18.3
34741   USGS      3145483  2018-08-01 22:00       EDT         3.31       18.3
34742   USGS      3145483  2018-08-01 22:15       EDT         3.31       18.3
34743   USGS      3145483  2018-08-01 22:30       EDT         3.31       18.3
34744   USGS      3145483  2018-08-01 22:45       EDT         3.31       18.3
34745   USGS      3145483  2018-08-01 23:00       EDT         3.31       18.3
34746   USGS      3145483  2018-08-01 23:15       EDT         3.31       18.3
34747   USGS      3145483  2018-08-01 23:30       EDT         3.31       18.3
34748   USGS      3145483  2018-08-01 23:45       EDT         3.30       17.7

      Precipitation
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9               NaN
10              NaN
11              NaN
12              NaN
13              NaN
14              NaN
15              NaN
16              NaN
17              NaN
18              NaN
19              NaN
20              NaN
21              NaN
22              NaN
23              NaN
24              NaN
25              NaN
26              NaN
27              NaN
28              NaN
29              NaN
...             ...
34719           Eqp
34720           Eqp
34721           Eqp
34722           Eqp
34723           Eqp
34724           Eqp
34725           Eqp
34726           Eqp
34727           Eqp
34728           Eqp
34729           Eqp
34730           Eqp
34731           Eqp
34732           Eqp
34733           Eqp
34734           Eqp
34735           Eqp
34736           Eqp
34737           Eqp
34738           Eqp
34739           Eqp
34740           Eqp
34741           Eqp
34742           Eqp
34743           Eqp
34744           Eqp
34745           Eqp
34746           Eqp
34747           Eqp
34748           Eqp

[34749 rows x 7 columns]